.grid-pedido-execucao {
    display: grid; 
    grid-template-columns: 40px auto; 
    grid-template-rows: 20px 20px; 
    vertical-align: center; 
    grid-column-gap: 10px;
}

.icone{
    color:#9e3933; 
    grid-row: 1 / span 2; 
    margin-top: 3px;
}

.icone > i {
    font-size: 40px;
}

.linha1{
    grid-column: 2; 
    grid-row: 1;
}

.linha2{
    grid-column: 2; 
    grid-row: 2;
    font-weight: bold;
}

div.square {
    border: solid 1px #c4c2c2;
    border-radius: 3px;
    float:left; 
    padding: 0px 5px 5px 5px;
    
    }

.formatoTexto{
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
        /*font-feature-settings: frac;
        font-variant-numeric: tabular-nums;*/
       
       
    }

    