
<div class="po-md-12" style="margin-bottom: 20px;">
  <div class="po-md-6">
    <po-button p-label="Atualizar Tela" (p-click)="verificarNotas()" p-icon="bi bi-arrow-clockwise" p-kind="primary"></po-button> &nbsp;
    <po-button p-label="Reprocessar Notas" (p-click)="verificarNotas()" p-icon="bi bi-calendar2-check" p-danger="true"></po-button>
  </div>
  <div class="po-md-6">
    <div class="grid-pedido-execucao">
      <div class="icone"><i class="bi bi-exclamation-triangle-fill"></i></div>
      <div class="linha1"> Pedido Execução:  {{rpwStatus.split(';')[0]}} - {{rpwStatus.split(';')[1]}} / {{rpwStatus.split(';')[2]}}</div>
      <div class="linha2"> Aguardando Ação de Reprocessar Notas</div>
    </div>
  </div>
</div>

<div class="po-md-12">
  <po-accordion style="margin-top: 10px;">
    <po-accordion-item p-label="Notas Fiscais de Entrada" #item1>
      <po-widget>
        <po-table
              [p-items]="listaNFE"
              [p-loading]="loadTela"
              [p-striped]="true"
              [p-sort]="true"
              [p-height]="350"
              [p-columns]="colunasNFE"
              [p-hide-table-search]="true"
              [p-hide-columns-manager]="true"/>
  
       </po-widget>

    </po-accordion-item>
    <po-accordion-item p-label="Notas Fiscais de Saída">
      <po-widget>
        <po-table
              [p-items]="listaNFS"
              [p-loading]="loadTela"
              [p-striped]="true"
              [p-sort]="true"
              [p-height]="350"
              [p-columns]="colunasNFS"
              [p-hide-table-search]="true"
              [p-hide-columns-manager]="true"/>
      </po-widget>
    </po-accordion-item>
    </po-accordion>


</div>

<po-modal #loginModal  p-title="Selecione o Técnico" 
                       p-size="auto" 
                       p-click-out="false" 
                       [p-primary-action]="acaoLogin">

  <div class="po-md-12">
    <po-combo [ngModel]="codEstabel" (ngModelChange)="codEstabel = $event"
                 (p-change)="onEstabChange($event)"
                [p-options]="listaEstabelecimentos" p-label="Estabelecimento" p-icon="bi bi-pin-map"
                [p-placeholder]="placeHolderEstabelecimento">
                <ng-template p-combo-option-template let-option>
                  <div class="po-row">
                    <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
                    <div class="po-sm-10 po-md-9 po-lg-11">
                      <div class="po-font-text-large-bold">{{ option.label }}</div>
                      <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
                    </div>
                  </div>
                </ng-template>
              </po-combo>
  </div>
  <div class="po-md-12">
    <po-combo p-label="Técnico" [ngModel]="codUsuario" (ngModelChange)="codUsuario = $event"
                p-icon="bi bi-person-workspace"     [p-options]="listaTecnicos"
                [p-placeholder]="loadTecnico" [p-clean]="true" >
                <ng-template p-combo-option-template let-option>
                  <div class="po-row">
                    <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-person-workspace"></po-icon>
                    <div class="po-sm-10 po-md-9 po-lg-11">
                      <div class="po-font-text-large-bold">{{ option.label }}</div>
                      <div class="po-font-text-smaller">Técnico: {{ option.value }}</div>
                    </div>
                  </div>
                </ng-template>
              </po-combo>
  </div>


</po-modal>

