
.icone {
    width: 50px;
    height: 40px;
    font-size: 32px;
    float: left;
    margin: 0 5px 5px 0;
    text-align: center;

    & i {
        color: white;
    }
}


.formatoTexto {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-variant-numeric: tabular-nums;
}

.tipoCalculo {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap: 10px;
}