.icone {
    /*border: solid 1px #c4c2c2;*/
    width: 50px;
    height: 40px;
    font-size: 32px;
    float: left;
    margin: 0 5px 5px 0;
    text-align: center;

    i {
        color: white;
    }

}

.container-card {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-evenly;
    
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: stretch;
    color: white;
    border-radius: 8px;

    div {
        padding: 10px;

        h2 {
            color: white;
            text-align: center;
        }

        hr {
            color: white
        }
    }

    button {
        display: block;
        cursor: pointer;
        outline: none;
        padding: 5px;
       /* border: 1px solid white;*/
        background-color: transparent;
        border-radius: 10px;
        color: white;
        width: 120px;
        transition: transform 300ms;
    }
    button.btngreen{
        background: green;
    }
    button.btnblue{
        background: steelblue;
    }
    button.btnred{
        background: #9e3933;
    }
    button.btnorange{
        background: orange;
    }

    button.btngreen:hover{
        background: darkgreen;
    }
    button.btnblue:hover{
        background: #045B8F;
    }
    button.btnred:hover{
        background: darkred;
    }
    button.btnorange:hover{
        background: darkgoldenrod;
    }

   
}

.card.blue {
    background: steelblue;
    box-shadow: 20px 20px 50px -30px steelblue;
}

.card.green {
    background: green;
    box-shadow: 20px 20px 50px -30px green;
}

.card.red {
    background: #9e3933;
    box-shadow: 20px 20px 50px -30px #9e3933;
}

.card.orange {
    background: orange;
    box-shadow: 20px 20px 50px -30px orange;
}
