<div class="card-container2">

  <figure class="snip0057 black">
    <span>288</span>
    <figcaption>
      <h2> Visão Geral </h2>
      <p>ET: 17 <br>&nbsp;</p>
    </figcaption>
    <div class="image"></div>
    <div class="position">Visualizar</div>
  </figure>

  <figure class="snip0057 green">
    <span>250</span>
    <figcaption>
      <h2 class="green">Renovações </h2>
      <p>Entradas e Saídas</p>
    </figcaption>
    <div class="image"></div>
    <div class="position">Visualizar</div>
  </figure>

  <figure class="snip0057 blue">
    <span>10</span>
    <figcaption>
      <h2>Pagamentos </h2>
      <p>Apenas notas de saída</p>
    </figcaption>
    <div class="image"></div>
    <div class="position">Visualizar</div>
  </figure>

  <figure class="snip0057 yellow">
    <span>288</span>
    <figcaption>
      <h2>Extrakit </h2>
      <p>Kit convertido em ET</p>
    </figcaption>
    <div class="image"></div>
    <div class="position">Visualizar</div>
  </figure>

  <figure class="snip0057 lemon">
    <span>2</span>
    <figcaption>
      <h2>Somente Entrada </h2>
      <p>Apenas notas de entrada</p>
    </figcaption>
    <div class="image"></div>
    <div class="position">Visualizar</div>
  </figure>

  <figure class="snip0057 red">
    <span>288</span>
    <figcaption>
      <h2>Sem Saldo </h2>
      <p>Item e alternativo sem saldo</p>
    </figcaption>
    <div class="image"></div>
    <div class="position">Visualizar</div>
  </figure>




</div>





<div *ngIf="mostrarLabel===true" 
      class="seletor" 
      style="display:flex; justify-content: center;align-items: center;height: 100%;">
<div><h1 style="color: lightgray;">ALTERNANDO USUARIO, AGUARDE...</h1></div>
</div>

<po-modal #loginModal 
     p-title="Selecione o Técnico" 
     p-size="auto" 
     p-click-out="false" 
     [p-primary-action]="acaoLogin" 
     [p-secondary-action]="acaoCancelar"
     [p-hide-close]="true">

    <div class="po-md-12">
      <po-combo [ngModel]="codEstabel" (ngModelChange)="codEstabel = $event" (p-change)="onEstabChange($event)"
        [p-options]="listaEstabelecimentos" p-label="Estabelecimento" p-icon="bi bi-pin-map"
        [p-placeholder]="placeHolderEstabelecimento" p-clean="true">
        <ng-template p-combo-option-template let-option>
          <div class="po-row">
            <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
            <div class="po-sm-10 po-md-9 po-lg-11">
              <div class="po-font-text-large-bold">{{ option.label }}</div>
              <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
            </div>
          </div>
        </ng-template>
      </po-combo>
    </div>
    <div class="po-md-12">
      <po-combo p-label="Técnico" [ngModel]="codUsuario" (ngModelChange)="codUsuario = $event"
        p-icon="bi bi-person-workspace" [p-options]="listaTecnicos" [p-placeholder]="loadTecnico" [p-clean]="true">
        <ng-template p-combo-option-template let-option>
          <div class="po-row">
            <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-person-workspace"></po-icon>
            <div class="po-sm-10 po-md-9 po-lg-11">
              <div class="po-font-text-large-bold">{{ option.label }}</div>
              <div class="po-font-text-smaller">Técnico: {{ option.value }}</div>
            </div>
          </div>
        </ng-template>
      </po-combo>
    </div>
  </po-modal>
