
<div class='hero'>
  <div class="hero-one"></div>
  <div class="hero-two"></div>
  <h1 class="header-title">
     <span class="header-primary">AUTO ATENDIMENTO</span><span class="header-sub">HTMLA41</span></h1>
     

<div class="homepage">
  <div class="card">
      <div class="face face1">
          <div class="content">
              <i class="bi bi-clipboard-data" style="font-size: 36px;"></i>
              <h3>Informe OS</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>HTMLA46 - Nova rotina do esaa046</p>
                  <a [routerLink]="['/informe']">Abrir</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face face1">
          <div class="content">
            <i class="bi bi-calculator" style="font-size: 36px;"></i>
              <h3>Cálculo</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>Calculo necessidades para atendimento</p>
                  <a [routerLink]="['/calculo']">Abrir</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face face1">
          <div class="content">
            <i class="bi bi-display" style="font-size: 36px;"></i>
              <h3>Monitor</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>Acompanhamento etapas do processo</p>
              <a [routerLink]="['/monitor']">Abrir</a>
          </div>
      </div>
  </div>

<div class="card">
      <div class="face face1">
          <div class="content">
            <i class="bi bi-gear" style="font-size: 36px;"></i>
              <h3>Parâmetros</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>Cadastro parâmetros das filiais </p>
              <a [routerLink]="['/paramestab']">Abrir</a>
          </div>
      </div>
  </div>

  
</div>
<h5 class="versao"><div><span class="tracos">Versão: 1.0.000</span></div></h5>
</div>



<!-- <div class='hero'>
  <div class="hero-one"></div>
  <div class="hero-two"></div>
  <h1 class="header-title">
     <span class="header-primary">AUTO ATENDIMENTO</span><span class="header-sub">HTMLA41</span></h1>

  <div class="grid-opcoes">

    <a [routerLink]="['/informe']" class="opcao">
      <div class="square" style="color: green;"><i class="bi bi-clipboard-data" ></i></div>
      <div class="info">
        <div><h4>Informe Ordem de Serviço</h4></div>
        <span>HTMLA46 - Nova rotina do esaa046</span>
      </div>
  </a>
  <a [routerLink]="['/calculo']" class="opcao">
    <div class="square" style="color: steelblue;"><i class="bi bi-calculator" ></i></div>
    <div class="info">
      <div><h4>Cálculo do Auto Atendimento</h4></div>
      <span>Calcular as necessidades para atendimento</span>
    </div>
  </a>

  <a [routerLink]="['/monitor']" class="opcao">
    <div class="square" style="color: red;"><i class="bi bi-display" ></i></div>
    <div class="info">
      <div><h4>Monitor de Processos</h4></div>
      <span>Acompanhar as etapas do processo</span>
    </div>
  </a>

  <a [routerLink]="['/paramestab']" class="opcao">
    <div class="square" style="color: orange;"><i class="bi bi-gear" ></i></div>
    <div class="info">
      <div><h4>Parâmetros Filiais</h4></div>
      <span>Cadastro de informações das filiais</span>
    </div>
  </a>
  </div>   
  
  <h5 class="versao"><div><span class="tracos">Versão: 1.0.000</span></div></h5>
</div>




  
 -->