<div class="sample-container">
    <po-loading-overlay *ngIf="loadTela===true" [p-screen-lock]="true"></po-loading-overlay>
  </div>

<div class="selecao">
    <div style="width: 50%;">
        <po-combo [ngModel]="codEstabel" (ngModelChange)="codEstabel = $event" 
            [p-options]="listaEstabelecimentos"  p-icon="bi bi-pin-map"
            [p-placeholder]="placeHolderEstabelecimento" p-clean="true">
            <ng-template p-combo-option-template let-option>
                <div class="po-row">
                    <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
                    <div class="po-sm-10 po-md-9 po-lg-11">
                        <div class="po-font-text-large-bold">{{ option.label }}</div>
                        <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
                    </div>
                </div>
            </ng-template>
        </po-combo>
    </div>
    <div><po-button p-icon="bi bi-check2" (p-click)="onListar()" ></po-button></div>
</div>
<po-table [p-items]="lista" 
          [p-striped]="true" 
          [p-height]="400"
          p-container="true"
          [p-columns]="colunas" 
          [p-hide-table-search]="false" 
          [p-hide-columns-manager]="true">
          <ng-template p-table-cell-template let-column="column" let-row="row">
            <div class="menuGrid">
                 <div><button class="btn"  (click)="NotasFiscais(row)"><i class="bi bi-archive" ></i><p>Notas Fiscais</p></button></div>
                 <div [ngClass]="row.situacao === 'R' ? 'show' : 'hide'"><button class="btn"  (click)="Reparos(row)"><i class="bi bi-tools"></i><p>Reparos</p></button></div>
                 <div [ngClass]="row.situacao === 'B' ? 'show' : 'hide'"><button class="btn"  (click)="Embalagem(row)"><i class="bi bi-box2"></i><p>Embalagem</p></button></div>
                 <div [ngClass]="row.situacao === 'L' ? 'show' : 'hide'"><button class="btn"  (click)="ResumoFinal(row)"><i class="bi bi-printer"></i><p>Resumo Final</p></button></div>
            </div>
          </ng-template>
</po-table>




        

          