<div class="sample-container">
  <po-loading-overlay *ngIf="loadTela===true" [p-screen-lock]="true"></po-loading-overlay>
</div>
<po-accordion style="margin-top: 10px;" #principal p-allow-expand-all-items="false" p-show-manager-accordion="false">
    <po-accordion-item p-label="Informações do Técnico" #item1 >
      <po-widget>
        <form [formGroup]="form">

        <div class="po-md-4">
          <po-combo formControlName="codEstabel" [p-options]="listaEstabelecimentos" p-label="Estabelecimento"
          (p-change)="onEstabChange($event)"
            p-icon="bi bi-pin-map" p-placeholder="Selecione o estabelecimento" p-clean="true">
            <ng-template p-combo-option-template let-option>
              <div class="po-row">
                <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
                <div class="po-sm-10 po-md-9 po-lg-11">
                  <div class="po-font-text-large-bold">{{ option.label }}</div>
                  <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
                </div>
              </div>
            </ng-template>
          </po-combo>
        </div>

        <div class="po-md-4">
          <po-combo p-label="Técnico" formControlName="codUsuario" 
                p-icon="bi bi-person-workspace"     [p-options]="listaTecnicos"
                [p-placeholder]="loadTecnico" [p-clean]="true" >
                <ng-template p-combo-option-template let-option>
                  <div class="po-row">
                    <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-person-workspace"></po-icon>
                    <div class="po-sm-10 po-md-9 po-lg-11">
                      <div class="po-font-text-large-bold">{{ option.label }}</div>
                      <div class="po-font-text-smaller">Técnico: {{ option.value }}</div>
                    </div>
                  </div>
                </ng-template>
              </po-combo>
        </div>

        <div class="po-md-4">
          <div class="po-md-8"><po-password name="password" formControlName="senha" p-label="Senha" p-icon="bi bi-pass"> </po-password></div>
          <div class="po-md-4" style="margin-top: 33px;"><po-button p-icon="bi bi-check2" (p-click)="onLogar()" [p-disabled]="!this.form.valid"></po-button></div>
        </div>
       </form>
      </po-widget>
    </po-accordion-item>

    <po-accordion-item p-label="Ordens de Serviço e Itens da Ordem" [p-label-tag]="cTag" #item2>
        <div class="po-md-5">
          <div class="po-md-12 botoesOS" *ngIf=" this.mostrarDados === true">
            <po-button p-tooltip="Impressão Informe OS" (p-click)="onImpressao()" p-icon="bi bi-printer"></po-button>
            <po-button p-tooltip="Nova OS" p-icon="bi bi-plus" p-kind="primary" p-kind="primary" (p-click)="onIncluirOrdem()"></po-button>
          </div>
                <po-table [p-items]="listaOrdens" class="po-font-smaller" #gridOrdens 
                          (p-selected)="selecionarOrdem($event)"
                          [p-actions]="acoesGridOrdem"
                          [p-striped]="true" 
                          [p-loading]="loadGridOrdem"
                          [p-single-select]="true"
                          [p-selectable]="true"
                          [p-columns]="colunasOrdens"
                          [p-hide-table-search]="false" 
                          p-container="true"
                          [p-height]="300"
                          [p-hide-columns-manager]="true">
                    <ng-template  p-table-column-template p-property="flag" let-value>
                      <i class="bi bi-check-square-fill" *ngIf="value === 'X'" [style.color]="'#c64840'" [style.font-size]="'16px'"></i>
                    </ng-template>
                </po-table>
                          
               
                  <div class="box">
                    <div class="po-md-4"><strong>Usadas</strong><po-tag [p-value]="cUsadas" p-color="color-10" p-text-color="white"></po-tag></div>
                    <div class="po-md-4"><strong>Em Branco</strong><po-tag  [p-value]="cBrancas" p-color="color-01" p-text-color="white"></po-tag></div>
                    <div class="po-md-4"><strong>Total</strong><po-tag      [p-value]="cTotal" p-color="color-07" p-text-color="white"></po-tag></div>
                </div>
               
            
        </div>

        <div class="po-md-7">
          <div class="po-md-12 botoesItens" *ngIf="this.mostrarDados === true">
            <div class="boxOS" >
              <div><i><small>NumOS</small></i><p>{{cOS}}</p></div>
              <div><i><small>Chamado</small></i><p>{{cChamado}}</p></div>
            </div>
            <po-button p-icon="bi bi-plus" p-tooltip="Incluir Item" p-kind="primary" (p-click)="onIncluirItemOrdem()"></po-button> 
            
          </div>
         
          <po-table [p-items]="listaItens" 
                    [p-loading]="loadGrid" 
                    [p-actions]="acoesGridItem"
                    (p-selected)="selecionarItemOrdem($event)"
                    [p-striped]="true" 
                    [p-single-select]="true"
                    [p-selectable]="true"
                    [p-columns]="colunasItens"
                    p-container="true"
                    [p-height]="300"
                    [p-hide-table-search]="false" 
                    [p-hide-columns-manager]="true" />
         
            
            <div class="po-md-12 observacao"> <p>{{edObservacao}}</p></div>
          
          </div>
       
    </po-accordion-item>
  </po-accordion>

  <po-modal #telaIncluirOrdem p-title="Incluir Ordem Serviço"
                              p-size="auto" 
                              p-click-out="false" 
                              [p-hide-close]="true"
                              [p-primary-action]="acaoIncluirOrdem" 
                              [p-secondary-action]="acaoCancelarOrdem">
      <form [formGroup]="formOrdem">
        <div class="po-md-6"><po-input name="numOS" formControlName="numOS" p-label="NumOS" > </po-input></div>
        <div class="po-md-6"><po-input name="Chamado" formControlName="Chamado" p-label="Chamado" ></po-input></div>
      </form>
  </po-modal>

  <po-modal #telaAlterarOrdem p-title="Alterar Chamado"
                              p-size="sm" 
                              p-click-out="false" 
                              [p-hide-close]="true"
                              [p-primary-action]="acaoAlterarOrdem" 
                              [p-secondary-action]="acaoCancelarOrdem">
      <form [formGroup]="formOrdem">
        <div class="po-md-6"><po-input name="Chamado" formControlName="Chamado" p-label="Chamado" ></po-input></div>
      </form>
  </po-modal>

  <po-modal #telaIncluirItemOrdem p-title="Incluir Item Ordem Serviço"
                              p-size="auto" 
                              p-click-out="false" 
                              [p-hide-close]="true"
                              [p-primary-action]="acaoIncluirItemOrdem" 
                              [p-secondary-action]="acaoCancelarItemOrdem">
      <form [formGroup]="formItemOrdem">
        <div class="po-md-12">
          <div class="po-md-6">
             <po-widget p-title="Dados do Item">
              <div class="po-md-6" ><po-input name="numOS" formControlName="numOS" p-label="Item"></po-input></div>
              <div class="po-md-6"><po-input name="numOS" formControlName="numOS" p-label="Nota Fiscal"></po-input></div>
              <div class="po-md-6"><po-input name="numOS" formControlName="numOS" p-label="Quantidade"></po-input></div>
              <div class="po-md-6"><po-input name="numOS" formControlName="numOS" p-label="Série"></po-input></div>
              <div class="po-md-6"><po-input name="numOS" formControlName="numOS" p-label="Nat.Operação"></po-input></div>
              <div class="po-md-6"><po-input name="numOS" formControlName="numOS" p-label="Evento"></po-input></div>
             </po-widget>
          </div>
          <div class="po-md-6">
            <div class="po-md-12"><po-widget>
              <po-radio-group
              [p-columns]=1
              name="radioGroupBasic"
              p-label="Itens de Residentes"
              [p-options]="[
                { label: 'Não Retornou por Transportador', value: '1' },
                { label: 'Retornou por Transportador', value: '2' }
              ]"
            >
            </po-radio-group>

            </po-widget></div>
            <div class="po-md-12"><po-widget p-title="Itens - Série">
              <div class="po-md-4" ><po-input name="numOS" formControlName="numOS" p-label="Envelope Segurança"></po-input></div>
              <div class="po-md-4" ><po-input name="numOS" formControlName="numOS" p-label="Num Série Instalado"></po-input></div>
              <div class="po-md-4" ><po-input name="numOS" formControlName="numOS" p-label="Num. Série Retirado"></po-input></div>
              
            </po-widget></div>
          </div>
          
        </div>

        <div class="po-md-12"><div class="po-md-12"><po-widget p-title="Dados da ENC">
          <div class="po-md-12" style="margin-bottom: 10px;"><po-checkbox name="checkbox" p-label="ENC Não Informada"> </po-checkbox></div>
          <div class="po-md-4"><po-input name="numOS" formControlName="numOS" p-label="Número ENC"></po-input></div>
          <div class="po-md-4"><po-input name="numOS" formControlName="numOS" p-label="Série ENC"></po-input></div>
          <div class="po-md-4" style="margin-top: 33px;"><po-button p-icon="bi bi-file-plus"></po-button></div>
        </po-widget></div>
         </div>
      </form>
  </po-modal>


