.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box div {
    width: 100px;
    height: 100%;
  }

  .botaoimpressao{
    margin-top: 5px; 
    margin-bottom: -50px;
    margin-left: 20px;

  }